{% extends 'base.html' %}

{% block title %}
	Create Tweet | {{ block.super }}
{% endblock title %}

{% block content %}
<form method='POST' action='' id="usrform">
	<textarea class="form-control mr-sm-2" maxlength="280" name="tweet" form="usrform" placeholder='Tweet'></textarea>
	<!--input type='textarea' name='tweet' placeholder='Tweet' value='{{ request.GET.tweet }}'
	maxlength="140" size="140" autofocus /-->
	<input class="btn btn-success my-2 my-sm-0" type='submit' value='Send' />
</form>
{% endblock %}
