{% extends 'base.html' %}

{% block title %}
	{{ phone.name }} | {{ block.super }}
{% endblock title %}

{% block content %}
	<table id="contentTable">
        <tr>
			<td colspan="2" id="contentMiddle">
				<table align="center">
                    <tr>
                        <td><h1>{{ request.GET.tag }}</h1></td>
                        <td>
                            <form class="form-inline mt-2 mt-md-0" method='GET' action=''>
                                <input class="form-control mr-sm-2" type='text' name='tag' placeholder='Search Tags' value='{{ request.GET.tag }}' autofocus />
                                <input class="btn btn-success my-2 my-sm-0" type='submit' value='Search' />
                            </form>
                        </td>
                    </tr>
										<div class="list">
					<tr><td>Positive: </td><td>{{ data.pt }}</td></tr>
					<main role="main" class="container">
                    {% for p in dataPt %}
										<div class="alert alert-success">
												<div class="row"><div class="col">{{ p.text }}</div></div>
										</div>
                    {% endfor %}
					</main>
					<tr><td>Negative: </td><td>{{ data.nt }}</td></tr>
					<main role="main" class="container">
                    {% for n in dataNt %}
										<div class="alert alert-warning">
												<div class="row"><div class="col">{{ n.text }}</div></div>
										</div>
                    {% endfor %}
					</main>
					<tr><td>Neutral: </td><td>{{ data.net }}</td></tr>
					<main role="main" class="container">
 										{% for n in dataNnt %}
										<div class="alert alert-info">
												<div class="row"><div class="col">{{ n.text }}</div></div>
										</div>
										{% endfor %}
					</main>
					</div>
					<tr><td colspan="2">======================</td></tr>
					<tr><td>Total: </td><td>{{ data.tt }}</td></tr>
				</table>
			</td>
		</tr>
	</table>
{% endblock %}
