{% extends 'base.html' %}

{% block title %}
Analysis of Tweet | {{ data.name }} | {{ block.super }}
{% endblock title %}

{% block content %}
<div class="row">
	<div class="col-lg-6"><h1 align="center">{{ data.name }}</h1></div>
		<form class="form-inline mt-2 mt-md-0" method='GET' action=''>
			<input class="form-control mr-sm-2" type='text' name='tag' placeholder='Search Tags' value='{{ request.GET.tag }}' autofocus />
			<input class="btn btn-success my-2 my-sm-0" type='submit' value='Search' />
		</form>
	</div>
	<div class="list">
		<div class="row">
			<div class="col-lg-5">Positive: </div>
			<div class="col-lg-5">{{ data.pt }} </div>
			<button class="btn btn-outline-success" data-toggle="collapse" data-target="#pTweet">&#65291;</button>
		</div>
		<main role="main" class="container">
		<div class="collapse" id="pTweet">
			{% for pt in dataPt %}
			<div class="alert alert-success">
				<div class="row"><div class="col">{{ pt.text }}</div></div>
			</div>
			{% endfor %}
		</div>
		</main>
		<div class="row">
			<div class="col-lg-5">Negative: </div>
			<div class="col-lg-5">{{ data.nt }}</div>
			<button class="btn btn-outline-danger" data-toggle="collapse" data-target="#nTweet">&#65291;</button>
		</div>
		<main role="main" class="container">
		<div class="collapse" id="nTweet">
			{% for nt in dataNt %}
			<div class="alert alert-danger">
				<div class="row"><div class="col">{{ nt.text }}</div></div>
			</div>
			{% endfor %}
		</div>
		</main>
		<div class="row">
			<div class="col-lg-5">Neutral: </div>
			<div class="col-lg-5">{{ data.nnt }}</div>
			<button class="btn btn-outline-info" data-toggle="collapse" data-target="#neTweet">&#65291;</button>
		</div>
		<main role="main" class="container">
		<div class="collapse" id="neTweet">
			{% for pt in dataNnt %}
			<div class="alert alert-info">
				<div class="row"><div class="col">{{ pt.text }}</div></div>
			</div>
			{% endfor %}
		</div>
	</main>
</div>
{% endblock %}
